# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
build/
**/build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/**/GeneratedPluginRegistrant.kt

# Example app specific
example/build/
example/android/app/build/
example/android/.gradle/
example/android/gradle/
example/ios/build/
example/ios/Runner.xcworkspace/
example/ios/Runner.xcodeproj/project.xcworkspace/
example/ios/Runner.xcodeproj/xcuserdata/
example/ios/Pods/
example/linux/build/
example/macos/build/
example/web/build/
example/windows/build/
example/test/

# Eclipse related
example/android/\.project
example/android/\.settings/org\.eclipse\.buildship\.core\.prefs
example/android/app/\.settings/
example/android/app/\.classpath
example/android/app/\.project
android/\.settings/
android/\.project
android/\.classpath

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# Library
pubspec.lock

# Flutter plugins
**/.flutter-plugins-dependencies
**/flutter_export_environment.sh

# Large files
**/*.so
**/*.a
**/*.dylib
**/libflutter.so
**/libVkLayer_*.so
**/*-mergeJavaRes/
**/merged_native_libs/